@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayLightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayRoman.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayRomanItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayMedium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayMediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayBold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayBoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayThin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayXThin.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayXThinItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayBlack.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Display";
  src: url("./assets/fonts/neue-haas/NeueHaasDisplayBlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

html,
body {
  font-family: "Neue Haas Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
